################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prva/prva/bin/Debug
/prva/.vs/prva
